<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Simple Sidebar - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Data Table -->    
    <link rel="stylesheet" href="../dataTables/css/dataTables.bootstrap4.min.css">    

    <!-- Custom styles for this template -->
    <link href="/stylesheets/simple-sidebar.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/custom.css">
    <style>
        .button {
            background-sick: #4CAF50;
            border: none;
            sick: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
        }
    </style>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script>
        $(document).ready(function(){
                $('.queue').hide();
        });
    </script>

</head>
<body>
    <% include partials/header.ejs%>
    <div id="wrapper" class="toggled">
        <% include partials/sidebar.ejs%>
        <!-- Page Content -->
        <div id="page-content-wrapper">            
            <div class="container-fluid">
                <div>
                    <a href="" id="menu-toggle">
                        <span class="glyphicon glyphicon-menu-hamburger d-sidebar-toggler"></span>
                    </a>
                </div>

                <div class="d-page-content">
                    <div class="text-center" style="margin-top:20px; margin-bottom:20px;">
                        <h2>Order Management</h2>
                        <h2 class="placeName"><%= places[0].name %></h2>
                        <h2 class="queue"><%= places[0].queue %></h2>
                    </div>
                    
                    <div class="table-responsive">
                        <table id="orderTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th class="text-center">Place Name</th>
                                    <th class="text-center">User Email</th>
                                    <th class="text-center">Gender</th>
                                    <th class="text-center">age</th>
                                    <th class="text-center">sick</th>
                                    <th class="text-center">Number</th>
                                    <th class="text-center">Order Time</th>
                                    <th class="text-center">Close Time</th>
                                    <th class="text-center">Status</th>
                                </tr>
                            </thead>
                            <tbody class="text-center">
                                <% for(var i = 0; i < orders.length; i++){ %>
                                    <tr>
                                        <td><%= orders[i].placeName %></td>
                                        <td><%= orders[i].userEmail %></td>
                                        <td><%= orders[i].gender %></td>
                                        <td><%= orders[i].age %></td>
                                        <td><%= orders[i].sick %></td>
                                        <td><%= orders[i].number %></td>
                                        <td><%= orders[i].orderTime %></td>
                                        <td><%= orders[i].outTime %></td>
                                        <td>
                                            <select data-email="<%= orders[i].userEmail %>" data-placename="<%= orders[i].placeName %>" class="d-order-status">
                                                <% if(orders[i].status == 'True') { %>
                                                    <option value = "True" selected>True</option>
                                                    <option value = "False">False</option>
                                                <% } %>
                                                <% if(orders[i].status == 'False') { %>
                                                    <option value = "True">True</option>
                                                    <option value = "False" selected>False</option>
                                                <% } %>
                                            </select>
                                        </td>
                                    </tr>
                                <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="button-choose">
                    <button class="button">New Book</button>
                    <button class="button d-Confirm" id="show">Confirm Book</button>
                </div>

                <button type="button" class="btn btn-info btn-lg d-chainModalTrigge" data-toggle="modal" data-target="#myChainModal" style="display:none;">Open Modal</button>
                <div id="myChainModal" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title text-center">Questions</h4>
                        </div>

                        <div class="modal-body">
                            <div>
                                <div><label >User Email</label>
                                    <input type="text" name="userEmail" class="userEmail"></div>
                                <div><button class="search">search</button></div>
                            </div>
                        </div>


                    </div>
                </div>


                <button type="button" class="btn btn-info btn-lg d-chainModalTrigger" data-toggle="modal" data-target="#myChainModal" style="display:none;">Open Modal</button>
                <div id="myChainModal" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title text-center">Questions</h4>
                            </div>
                            <div class="modal-body">
                                <div>
                                    <div><label >User Email</label>
                                        <input type="text" name="userEmail" class="userEmail"></div>
                                    <div class="form-group d-questionWrapper">
                                        <label>Gender :</label>
                                        <select class="q-gender" onchange = "showageWrapper()">
                                            <option disabled selected value> -- select an option -- </option>
                                            <option value="Male">Male</option>
                                            <option value="Female">Female</option>
                                        </select>
                                    </div>
                                    <div class="form-group d-questionWrapper d-ageWrapper">
                                        <label>age :</label>
                                        <select class="q-age" onchange = "showsickWrapper()">
                                            <option disabled selected value> -- select an option -- </option>
                                            <option value="0-2 years">0-2 years</option>
                                            <option value="3-7 years">3-7 years</option>
                                            <option value="8-15 years">8-15 years</option>
                                            <option value="16-25 years">16-25 years</option>
                                            <option value="26-40 years">26-40 years</option>
                                            <option value="41-60 years">41-60 years</option>
                                            <option value="more than 60 years">more than 60 years</option>
                                        </select>
                                    </div>
                                    <div class="form-group d-questionWrapper d-sickWrapper">
                                        <label>sick :</label>
                                        <select class="q-sick" onchange = "showAnswerWrapper()">
                                            <option disabled selected value> -- select an option -- </option>
                                            <option value="Flu">Flu</option>
                                            <option value="Bones">Bones</option>
                                            <option value="Digestion">Digestion</option>
                                        </select>
                                    </div>
                                    <div style="text-align:right;" class="d-AnswerWrapper">
                                        <button type="" class="btn btn-warning btn-md btn-answer">Answer</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>




                <!-- Trigger the modal with a button -->
                <button type="button" class="btn btn-info btn-lg d-settingModalTrigger" data-toggle="modal" data-target="#mySettingModal" style="display:none;">Open Modal</button>
                <div id="mySettingModal" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title text-center">Setting</h4>
                            </div>
                            <div class="modal-body">
                                <div>                                    
                                    <div class="form-group">
                                        <label> Old Password</label>
                                        <input type="password" class="form-control d-oldPassword">
                                    </div>
                                    <div class="form-group">
                                        <label> New Password</label>
                                        <input type="password" class="form-control d-newPassword">
                                    </div>
                                    <div style="text-align:right;">
                                        <button type="submit" class="btn btn-warning btn-md btn-Change">Change</button>
                                    </div>                            
                                </div>
                            </div>                    
                        </div>        
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

        <% include partials/footer.ejs%>

    </div>
    <!-- /#wrapper -->

    <!-- Bootstrap core JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- Bootstrap Data Table -->
    <script src="../dataTables/js/jquery.dataTables.min.js"></script>
    <script src="../dataTables/js/dataTables.bootstrap4.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
        $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });

        $(document).ready(function(){
            $('#orderTable').dataTable();
        })
    </script>

    <script>
        $('.d-Confirm').on('click', function(){
            $('.d-chainModalTrigge').trigger('click');
        })

        $('.search').on('click', function(){
            var placeName = $('.placeName').html();
            var userEmail = $('.userEmail').val();
            $.ajax({
                url:'/front/search',
                data:{placeName:placeName,userEmail:userEmail},
                type:'POST',
                success:function(data){
                    if(data.ret == true){
                        //alert(data.number);
                        //print it out
                        var resultHtml =  '<p class="d-bookResult">You confirm your booking, your number is '+data.number+'</p>';
                        $('.d-book-result-body').html(resultHtml);
                        $('.d-bookResultModalTrigger').trigger('click');
                    }
                    else if(data.ret == false){
                        alert("false");
                    }

                }
            })
        })

    </script>


<script>
    $('.button').on('click', function(){
        var placeName = $('.placeName').html();
        /*var queue = $('.d-queue').html();
        var arrivalTime = $('.d-arrivalTime').html();
        var capacity = $('.d-capacity').html();
        var price = $('.d-price').html();
        if(Number(queue) >= Number(capacity)) {
            alert("This place is full");
            return;
        }*/
        $.ajax({
            url:'/front/book',
            data:{placeName:placeName},
            type:'POST',
            success:function(data){
                if(data.ret == true){
                    //Hide Chain Selet
                   /* $('.d-ageWrapper').hide();
                    $('.d-sickWrapper').hide();
                    $('.d-AnswerWrapper').hide();*/

                    //Triger Event
                    $('.d-chainModalTrigger').trigger('click');
                }
                else if(data.ret == false && data.logIn == false){
                    $('.d-modalTrigger').trigger('click');
                }
                else if(data.ret == false){
                    var resultHtml =  '<p class="d-bookResult">You already booked.Book number is '+data.number+'</p>';
                    $('.d-book-result-body').html(resultHtml);
                    $('.d-bookResultModalTrigger').trigger('click');
                }
            }
        })
    })


    //Submit after selecting chain
    $('.btn-answer').on('click', function(){
        var placeName = $('.placeName').html();
        var userEmail = $('.userEmail').val();
        var gender = $('.q-gender').val();
        var age = $('.q-age').val();
        var sick = $('.q-sick').val();
        //var shift = $('.d-numberMinutes').html();

        var queue = $('.queue').html();
        /*var capacity = $('.d-capacity').html();
        if(Number(queue) >= Number(capacity)) {
            alert("This place is full");
            return;
        }*/
        var bookNum = parseInt(queue)+ 1 ;
        alert(queue);

        $.ajax({
            url:'/front/qbook',
            data:{placeName:placeName,userEmail:userEmail, gender:gender, age:age, sick:sick, bookNum:bookNum.toString()},
            type:'POST',
            success:function(data){
                if(data.ret == true){
                    $('.close').trigger('click');
                    var resultHtml =  '<p class="d-bookResult">Successfully Booked. Book number is ' + bookNum + '</p>';
                    $('.d-book-result-body').html(resultHtml);
                    $('.d-bookResultModalTrigger').trigger('click');
                };
            }
        })
    })

</script>

</body>

</html>
